.chart div {
  font: 10px sans-serif;
  padding: 3px;
  margin: 1px;
  color: white;
}
#username1{
 position:absolute;
   top:0;
  padding:3px;
   right:0; 
   width:100%
}
.bit{
  background-color: black;
  text-align: right;
  width: 30%;
}
.gold{
  background-color: gold;
  text-align: left;
  width: 70%;
  right: 0px;
  float: right;
}
#bottom-month-bar{
  margin-bottom:99%;
  position:absolute;
}
#net_usd_field {
    font-size: 120px;
    font-weight: 800;
    margin-top: 11%;
    transition: color 2s;
}
#net_btc_field {
    font-size: 80px;
    font-weight: 800;
    margin: 0;
}
body {
  /*
  -webkit-text-stroke-width: 3px;
     -webkit-text-stroke-color: black;
     */
    font-family: "Montserrat", arial, sans-serif;
    background-color: #E8E8E8;
    background-image: url(http://startbootstrap.com/assets/img/bg.png);
    color: black;
    text-align: center;
    height: 100%;
    width: 100%;
}
a {
    font-weight: bold;
}
#new_pubkey {
  margin-left: 20px;
  margin-top: 40px;
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#submit_pubkey{
  margin-top: 10px;
  width: 80px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer {
   position:absolute;
   bottom:10px;
   right:30px;
   font-size: 20px;
}
